@import "@fortawesome/fontawesome-free/css/all.min.css";
@import "./partials/_variables.scss";
@import "bootstrap/scss/bootstrap.scss";


body{
    background-color: $primary-color;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: auto !important;
}

#app{
    display:contents;
}